/* .dashBoard{
  width: 30%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(43, 44, 44);
  display: inline;
}
.inline{
  display: inline;
}
#close-icon{
  padding: 10px;
  font-size: 25px;
  position: relative;
  right: 0%;
  bottom: 0%;
  float: right;
  margin-bottom: 10px;

}

#close-icon:hover{
  cursor: pointer;
}

.btn{
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.map-view .option-container{
  width: 150px;
  height: 50px;
  background-color: rgb(43, 44, 44);
  z-index: 1;
  left: 20px;
  top: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  
}
.map-view .option-container .rwi{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu{
  display: flex;
  flex-direction: row;
  position: absolute;
  /* bottom: 120px; */
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  gap: 10px;
  align-items: center;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .16);
  z-index: 2;
  /* transition: 0.5s; */
  /* visibility: hidden; */
}
.menu-toggle{
 display: flex;
 position: absolute;
 bottom: 20px;
 left: 10px;
 z-index: 1;
 cursor: pointer;
}
.menu.active-menu{
  /* transition: 0.5s ea; */
  visibility: visible;
}

.menu-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  width: 20%;
  height: 60px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: whitesmoke;
  visibility: hidden;
}
.menu-panel.active-menu-panel{
  visibility: visible;
}

.distance-time{
  background-color:  rgb(185, 185, 185);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 50%;
}
.step{
  width: 50%;
  gap: 10px;
  cursor: pointer;
}
/* .step-icon{
  padding: 10px;
} */

.distance-time:hover{
 box-shadow: rgba(185, 185, 185, 0.5);
 background-color: rgba(185, 185, 185, 0.8);

}

/* .distance-time:hover{
  cursor: pointer;
} */

select{
   border-width: 0px;
   border-radius: 5px;
   background-color: rgb(185, 185, 185);
   padding: 5px;
   cursor: pointer;
   transition: 0.2s;
}

select:hover{
  background-color: rgba(185, 185, 185, 0.8);
}

.layer-menu{
  display: flex;
  flex-direction: row;
}

.traffic-layers{
  display: flex;
  flex-direction: row;
  gap: 70px;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb(185, 185, 185);
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  width: 180px;
}
.layer-menu{
  background-color: rgb(185, 185, 185);

}

.traffic-layers:hover{
  background-color: rgba(185, 185, 185, 0.8);
}



/* .popup{
  position: absolute;
  top: 150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity  200ms ease-in 0ms, transform 200ms ease-in 0ms;
      
}

.pop .active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity  200ms ease-in 0ms, transform 200ms ease-in 0ms;

} */

.tt-tabs{
  z-index: 1;
}

.js-results-loader{
  background-color: rgba(255, 255, 255, 0);
  overflow: auto;
}

.route-button{
  background-color: aliceblue;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* transition: 0.2s; */
}
.route-button:hover{
  cursor: pointer;
  background-color: rgb(180, 184, 184);
  /* transition: 0.2s; */
}
.activeBlur{
  user-select: none;
  pointer-events: none;
  filter: blur(10px);
}

.guidance-panel-scroll{
  overflow: auto;
}

/* .onclicked{
 
} */
.click-popup-div{
  display: flex;
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  /* padding: 5px; */
  border-radius: 5px;
  visibility: hidden;
  align-items: center;
  gap: 10px;
}

.click-popup-div.active-click{
visibility: visible;
z-index: 2;
}
.clear{
  padding: 5px;
  /* width: 10px; */
  border-right: solid black 1px;
} */